<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ecommsuit\Customer\Api\AddressRepositoryInterface" type="Ecommsuit\Customer\Model\ResourceModel\AddressRepository"/>
    <preference for="Ecommsuit\Customer\Api\AccountManagementInterface" type="Ecommsuit\Customer\Model\AccountManagement"/>
    <virtualType name="Ecommsuit\Customer\Model\Api\Address\SearchCriteria\CollectionProcessor\CustomerSortingProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="id" xsi:type="string">entity_id</item>
            </argument>
            <argument name="defaultOrders" xsi:type="array">
                <item name="id" xsi:type="string">DESC</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ecommsuit\Customer\Model\Api\Address\SearchCriteria\CustomerCollectionProcessor" type="Magento\Eav\Model\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="sorting" xsi:type="object">Ecommsuit\Customer\Model\Api\Address\SearchCriteria\CollectionProcessor\CustomerSortingProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ecommsuit\Customer\Model\ResourceModel\AddressRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Ecommsuit\Customer\Model\Api\Address\SearchCriteria\CustomerCollectionProcessor</argument>
        </arguments>
    </type>
</config>
